<div>
  <p *ngIf="false">binding one-way</p>
  <p>{{ sayHello() }} {{ olivier.prenom }}</p>
</div>
<div>
  <p>binding 2-ways</p>
  <div>
    <input [(ngModel)]="couleur" />
  </div>
  <div>
    <button (click)="button()">click</button>
  </div>
  <div>
    <font color="pink">
      <p>du texte en couleur</p>
    </font>
    <font [color]="couleur">
      <p>du texte en couleur</p>
    </font>
  </div>

  <div *ngIf="false; else sinon_on_fait_ca"><p>C'est vrai</p></div>

  <div [ngClass]="{ vert: couleur == 'pink', rouge: couleur == 'red' }">
    application de class css
  </div>

  <ng-template #sinon_on_fait_ca> <p>C'est faux</p> </ng-template>
</div>
