<a routerLink="/home" routerLinkActive="active" class="btn btn-link">home</a>

<a routerLink="/election" routerLinkActive="active" class="btn btn-link"
  >elections</a
>
<a
  routerLink="/produit/info/voiture"
  routerLinkActive="active"
  class="btn btn-link"
  >info voiture</a
>
<a
  routerLink="/produit/info/avion"
  routerLinkActive="active"
  class="btn btn-link"
  >info avion</a
>
<a routerLink="/vehicule" routerLinkActive="active" class="btn btn-link"
  >vehicule</a
>
<a routerLink="/activite" routerLinkActive="active" class="btn btn-link"
  >activites</a
>

<router-outlet></router-outlet>
