<a routerLink="/home" routerLinkActive="active" class="btn btn-link">home</a>

<a routerLink="/election" routerLinkActive="active" class="btn btn-link"
  >elections</a
>
<a
  routerLink="/produit/info/voiture"
  routerLinkActive="active"
  class="btn btn-link"
  >info voiture</a
>
<a
  routerLink="/produit/info/avion"
  routerLinkActive="active"
  class="btn btn-link"
  >info avion</a
>
<a routerLink="/vehicule" routerLinkActive="active" class="btn btn-link"
  >vehicule</a
>
<a routerLink="/activite" routerLinkActive="active" class="btn btn-link"
  >activites</a
>
<a routerLink="/form/template" routerLinkActive="active" class="btn btn-link"
  >formulaire template</a
>
<a routerLink="/form/code" routerLinkActive="active" class="btn btn-link"
  >formulaire code</a
>
<a
  *ngIf="!isAutenticated()"
  routerLink="/login"
  routerLinkActive="active"
  class="btn btn-link"
  >login</a
>
<span *ngIf="isAutenticated()">Bonjour {{ login }}</span>
<button *ngIf="isAutenticated()" (click)="logout()" class="btn btn-link">
  logout
</button>
<router-outlet></router-outlet>
