#logo
{
  position:absolute;
  top:0;
  width:15%;
  height:15%;
  background-image:url("img/licorne.png");
  background-size: 100% 100%;
}

header img
{
 height: 30%;
 width:100%;
}

#errorConnect{color:red;}

body
{
  background-color:#E0EAB8;
  font-family : 'Lobster',cursive;
}


#inscription input
{
  border-radius:25px;
  text-align:center
}

#activites
{
  background-color:white;
}

.button
{
  width:120px;
}

#formActivite
{
  border: solid black 2px;
  width:40%;
  min-width:300px;
}

#ajouter
{
display:flex;
justify-content:flex-end;
}

#btnForm
{
display:flex;
justify-content:space-around;
}
